@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    margin:0;
    padding:0;
    background-color: #efefefef;
    font-family: 'Roboto', sans-serif;
}

.app{
    margin:100px auto;
    padding:0;
    width:900px;
    display: flex;
}